body
{
  background: url("../img/JShine.jpg");
  color: #fff;
}
.circles li {
  background: rgba(255, 255, 255, 0.4);
}


.circles li {
  background: rgba(255, 255, 255, 0.4);
}


.circles li:nth-child(1)
{
  background: rgba(255, 255, 255, 0.4)
}
.circles li:nth-child(2)
{
  background: rgba(255, 255, 255, 0.4)
}
.circles li:nth-child(3)
{
  
background: rgba(255, 255, 255, 0.4)
}
.circles li:nth-child(4)
{
background: rgba(255, 255, 255, 0.4)
}

.circles li:nth-child(5)
{
background: rgba(255, 255, 255, 0.4)
}
.circles li:nth-child(6)
{
background: rgba(255, 255, 255, 0.4)
}
.circles li:nth-child(7)
{
  background: rgba(255, 255, 255, 0.4)
}
.circles li:nth-child(8)
{
 background: rgba(255, 255, 255, 0.4)
}

.circles li:nth-child(9)
{
  background: rgba(255, 255, 255, 0.4)
}
.circles li:nth-child(10)
{
  background: rgba(255, 255, 255, 0.4)
}
.circles li:nth-child(11)
{
  background: rgba(255, 255, 255, 0.4)
}
